<!-- This is the profile page -->

<div class="profile_gi">

  <div class="background_image " data-0="-webkit-filter: blur(5px) grayscale(20%);" data-200="-webkit-filter: blur(10px) grayscale(100%)">
  </div>
  <div class="small-12 large-12 columns top">
    <img src="http://i.imgur.com/8hE9wJt.png" class="single_profile_image">
  </div>
</div>
</div>
<div class="timeline_section">
  <div class="profile_information">
    <div class="general_information" data-0="-webkit-filter: blur(5px)" data-100="-webkit-filter: blur(0px)" >

      <h4><%= @mentor.name%></h4><br/>
      <h4><%= @mentor.job_title%></h4><br/>
      <h4><%= @mentor.company%></h4><br/>
      <h4><%= @mentor.city%>, <%= @mentor.state%></h4><br/>
    </div>

    <div class="timeline_section">
    <ul class='timeline'>
      <li class="year">2013</li>
      <li class='event' href="#">
        <h4>Passion</h4>
        <p>I think whenever you do something when nobody was paying you, and you can’t help yourself  doing it. You found your passion.</p>
      </li>
      <li class="event">
        <a href="http://www.yeswecode.org/">
          #YesWeCode
          <img class='no-box centered' src="https://evbdn.eventbrite.com/s3-s3/eventlogos/86103815/yeswecodelogotransparent.png">
        </a>
      </li>
      <li class="year">1990</li>
      <li class="event offset-first">
        <h4>Path</h4>
        <p>Well after I got out of law school I noticed there were a number of problems with the police force for example in Oakland, in San Francisco and so.  One of the first things I did, I created a relational computer database and a hotline where people call in complaining about police, and could track it all, so we’re able to identify problem officers and problem practices.</p>
      </li>
      <li class="event">
        <h4>Struggles</h4>
        <p>Well after I got out of law school I noticed there were a number of problems with the police force for example in Oakland, in San Francisco and so.  One of the first things I did, I created a relational computer database and a hotline where people call in complaining about police, and could track it all, so we’re able to identify problem officers and problem practices.</p>
      </li>
      <li class="year">1975</li>
      <li class="event">
        <h4>Childhood</h4>
        <p>When I was 15, I was just miserable, hadn’t any friends but I read a ton. I wrote a bunch of horrible poetry. It was good because I was getting better at the English language. What I would say, learn Spanish and computer programming, cause these are the two things I don’t know.</p>
      </li>
    </ul>
    <div class="share">
         <a href="https://twitter.com/share" class="twitter-share-button" data-via="LoBenichou" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com" target="_blank">
 Share on Facebook
</a>
</div>
  </div>



